<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/1525ad30-42ea-424c-96fb-224f5bf78363/resourcegroups/ResourceGroupTest/providers/Microsoft.ContainerRegistry/registries/BlazorApp120261004181330</ContainerResourceId>
    <ContainerResourceName>BlazorApp120261004181330</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>blazorapp120261004181330.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>blazorapp1</ContainerName>
    <EnvironmentName>BlazorApp1-env-20261004180904</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://blazorapp1-app-20261004180901.livelycoast-648b36aa.italynorth.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <IngressTargetPort>8080</IngressTargetPort>
    <ResourceId>/subscriptions/1525ad30-42ea-424c-96fb-224f5bf78363/resourceGroups/ResourceGroupTest/providers/Microsoft.App/containerapps/blazorapp1-app-20261004180901</ResourceId>
    <ResourceGroup>ResourceGroupTest</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>AzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>